<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% assign sidebar = site.data.navigation.docs %}
  {% if sidebar %}
    {% for s in sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.url %}
        <a href="{{ s.url }}">{{ s.title }}</a>
      {% endif %}
      {% if s.children %}
        <ul>
        {% for child in s.children %}
          <li><a href="{{ child.url }}">{{ child.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>