---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// add thumbnail-container class to img tags
// posting 썸네일 이미지 크기 조절
.thumbnail-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;  
    margin-bottom: 25px;
}
.thumbnail-container img {
    /* margin-top: -11.5%; */
    /* margin-bottom: -11.5%; */
    width: 300px; 
    height: 300px;
}
